<div class="row">
  <div *ngFor="let season of seasons" class="col-12 m-2">
    <div class="card bg-secondary text-white">
      <img class="card-img-top" src="assets/seasons/{{ season.id.split(':')[2] }}.png" alt="Card image cap" />
      <div class="card-body">
        <h2 class="card-title display-1" style="font-size: 50px;">{{ season.description }}</h2>
        <p class="card-text"><b>Start: </b> {{ season.scheduled | date: 'dd.MM.yyyy' }}</p>
        <p class="card-text"><b>End: </b> {{ season.scheduled_end | date: 'dd.MM.yyyy' }}</p>
        <a class="btn btn-primary" routerLink="{{ season.id }}">Details</a>
      </div>
    </div>
  </div>
</div>
